.darkveil-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#dark-veil-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #121212;
    /* Fallback */
    pointer-events: none;
}