# Configuration Base de Données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=technician_wiki

# Sécurité (IMPORTANT : Changez ceci en prod !)
JWT_SECRET=super-secret-key-change-me

# Configuration PDMS
PDMS_PATH=./MOCK_PDMS
